$black-border: 2px solid black;
$bright-pink: rgba(247, 37, 133, 0.65);
$magenta: rgba(181, 23, 158, 0.65);
$purple: rgba(114, 9, 183, 0.65);
$blue: rgba(67, 97, 238, 0.65);
$light-blue: rgba(72, 149, 239, 0.65);
$teal: rgba(76, 201, 240, 0.65);
$background: rgba(130, 194, 240, 0.29);
$violet: #3A0CA3;
