* {
  font-family: 'Open Sans', sans-serif;
}

html {
  background: rgba(130, 194, 240, 0.29);
  background-color: #82C2F0;
  height: 100vh;
  width: 100vw;
}

body {
  background-color: white;
  border-radius: 50px;
  height: 96vh;
  width: 96vw;
  margin: 1%;
}

main {
  display: flex;
}

h1 {
  font-weight: bold;
}

h3 {
  margin: 2%;
}

h4 {
  font-size: 100%;
  font-weight: 700;
  margin: 1%;
  padding: 0;
}

img {
  margin: 1% 10% 1% 6%;
  padding: 2%;
  width: 22%;
}

p {
  margin: 0;
  padding: 0;
  font-size: 90%;
}

.side-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 2px solid black;
  text-align: center;
  height: 96vh;
  width: 18vw;
}

.right-side {
  display: flex;
  flex-direction: column;
  height: 96vh;
  width: 75vw;

}

.tracker-name,
.friends-title {
  border-bottom: 2px solid black;
  width: 18vw;
}

.friends-title {
  border-top: 2px solid black;
}

.circles {
  display: flex;
  justify-content: space-around;
  padding: 3%;
  height: 27vh;
}

.steps-today, .water-today,
.hours-of-sleep,
.quality-of-sleep {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.steps-today {
  background: rgba(233, 217, 160, 0.65);
  border: 3px solid #E9D9A0;
}

.water-today {
  background: rgba(160, 193, 233, 0.65);
  border: 3px solid #A0C1E9;
}

.hours-of-sleep {
  background: rgba(209, 233, 160, 0.65);
  border: 3px solid #D1E9A0;
}

.quality-of-sleep {
  background: rgba(160, 233, 198, 0.65);
  border: 3px solid #A0E9C6;
}

.friends {
  display: flex;
  align-items: center;
  width: 20vw;
}

.graphs {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(2, 1fr);
  align-items: center;
  height: 67vh;
  padding: 2%;
}

.runner-circle {
  display: flex;
  align-items: center;
  text-align: center;
  background: rgba(155, 191, 207, 0.13);
  border-radius: 50%;
  height: 90%;
  width: 95%;
  margin-left: 10%;
  padding: 1%;
}

.averages {
  font-size: 92%;
  margin-left: 8%;
}

.runner-section {
  margin-right: 12%;
  width: 30%;
}

.runner-image {
  width: 90%;
}
