* {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

/* body, html {
  background-image: linear-gradient(to top, #ff9a9e 0%, #fecfef 99%, #fecfef 100%);
  background-repeat: no-repeat;
  height: 100%;
} */

html {
  background-color: #82C2F0;
  background: rgba(130, 194, 240, 0.29);
}

body {
  background-color: white;
  margin: 3%;
  border-radius: 50px;
}

main {
  display: flex;
  justify-content:flex-start;
}

.side-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right-side {
  display: flex;
  flex-direction: column;
  justify-content:space-around;
}

.circles, .first-two-graphs,
.second-two-graphs{
  display: flex;
  justify-content: space-between;
}
