@use "variables";
@use "mixins" ;
@use "reset";

* {
  font-family: 'Open Sans', sans-serif;
}

html {
  background: variables.$background;
  background-color: variables.$violet;
  height: 100vh;
}

body {
  background-color: white;
  border-radius: 50px;
  min-height: 100vh;
  margin: 3%;
}

main {
  display: flex;
}

h1 {
  font-weight: bold;
  font-size: 200%;
}

h2 {
  font-size: 100%;
  font-weight: 700;
  margin: 1%;
  padding: 1%;
}

h3 {
  margin: 2%;
  padding: 1%;
}

img {
  // @include our-margin(1% 10% 1% 6%);
  margin: 1% 10% 1% 6%;
  padding: 2%;
  width: 27%;
}

p {
  margin: 1%;
  padding: 1%;
  font-size: 90%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  margin: 3%;
}

label {
  font-weight: bold;
  margin: 1%;
  font-size: 150%;
}

select {
  font-size: 100%;
  cursor: pointer;
}

button {
  border-radius: 5%;
  border: none;
  background-color: variables.$blue;
  margin: 3%;
  height: 50%;
  width: 70%;
  font-size: 120%;
  cursor: pointer
}

button:hover {
  transition: .5s ease-in-out;
  transform: scale(1.1);
}

canvas {
  height: 80% !important;
}

.side-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: variables.$black-border;
  text-align: center;
  min-height: 100vh;
  width: 25vw;
}

.right-side {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 75vw;
}

.title {
  display: flex;
  justify-content: space-between;
}

.friends-title,
.comparison-info {
  border-bottom: variables.$black-border;
  width: 19.5vw;
  margin: 8% 0 8% 0;
  padding: 1%;
}

.tracker-name {
  color: variables.$violet;
  width: 20vw;
  margin: 10% 0 8% 3%;
  font-size: 320%
}

.drop-down {
  margin: 5%;
}

.friends-title,
.comparison-info {
  border-top: variables.$black-border;
}

.activity-icon {
  margin: 5% 5% 0 0;
}

.circles {
  display: flex;
  justify-content: space-between;
  padding: 3%;
  height: 27vh;
}

.circle-font {
  font-size: 100%;
  margin: 5%;
}

.steps-today, .miles-walked,
.mins-active, .water-today,
.hours-of-sleep,
.quality-of-sleep {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: .5%;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
}

.miles-walked {
  background: variables.$magenta;
}

.mins-active {
  background: variables.$purple;
}

.steps-today {
  background: variables.$bright-pink;
}

.water-today {
  background: variables.$blue;
}

.hours-of-sleep {
  background: variables.$light-blue;
}

.quality-of-sleep {
  background: variables.$teal;
}

.friends {
  display: flex;
  align-items: center;
  text-align: left;
  width: 20vw;
  height: 10vh;
}

.graphs {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(2, 1fr);
  align-items: center;
  width: 75vw;
  padding: 1%;
}

.water-graph, .sleep-quality-graph,
.sleep-hours-graph, .steps-graph,
.stairs-graph, .active-mins-graph {
  width: 35vw;
  height: 45vh;
}

.averages {
  font-size: 92%;
  margin-left: 8%;
}

.hidden {
  display: none !important;
}
